@charset "UTF-8";
/* CSS Document */

/*Remove this rule, this is only for demo purposes to make the boxes black with white text
The line height on the <p> tag gives each box a height value*/

p
{
	color: #fff;
	line-height: 100px;
	background: #000;
	text-align: center;
	margin: 0;
}

/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	text-decoration:none; 
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specidied therefore stretches full screen*/
#topBar
{
	background-color: #000;
	height: 20px;
}

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 980px;
	padding-left: 20px;
	padding-right: 20px;
}

/*This is a flex container*/
#mainHeader
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	background-color: #5c74d5;
  	height: 210px;

}

/*This is a flex item*/
#logo
{
	width: 200px;
	margin-top: 20px;
	margin-left: 20px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	margin-left: auto;
	width: 600px;
	margin-top: 100px;
	background-color: #514dbe;
}

#mainNav ul
{
	list-style-type: none;
	margin-top: 40px;
}

#mainNav ul li
{
	display: inline;
	text-transform: uppercase;
	font-size: 36px;
	font-family: Bahnschrift, Arial, sans-serif;
	margin-right: 20px;
}

#mainNav ul li a
{
	color: #fff;
}

#mainNav ul li a:hover
{
	background-color: #a1defb;
}

#promo 
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#promo p 
{
	line-height: 250px;
}

#promo h2
{
	margin-left:  500px;
	margin-top: 300px;
	background-color: #514dbe;
	background-size: 100;
	font-size: 27px;
	font-family: Berlin Sans FB Demi, Arial, sans-serif;
	color: #fff;
}

#promo 

#promoText 
{
	width: 600px;

}

#promoImage 
{
	margin-left: auto;
	width: 280px;
}

#productInfo 
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height to productInfo*/
#productInfo p 
{
	display: flex;
	text-transform: bold;
	color: #514dbe;
	font-size: 27px;
	font-family: Berlin Sans FB Demi, Arial, sans-serif;
	margin-left: 20px;
	line-height: 40px;
	background-color: #fff;
}

.productDesc 
{
	width: 200px;
	
}

#productInfo ul
{
	list-style-type: none;
}

#productInfo li a
{
  position: absolute;
  margin-left: 275px;
  display: flex;
	text-transform: bold;
	color: #514dbe;
	font-size: 27px;
	font-family: Berlin Sans FB Demi, Arial, sans-serif;
	line-height: 40px;
	background-color: #fff;
}

#productInfo li a:hover
{
	background-color: #a1defb;
}

#productInfo h2
{
	
	text-transform: bold;
	color: #514dbe;
	font-size: 27px;
	font-family: Berlin Sans FB Demi, Arial, sans-serif;
	margin-left: 300px;
	line-height: 40px;
	background-color: #fff;
}

#mainFooter 
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	background-color: #5c74d5;
  	height: 210px;

}

#footerNav 
{
	margin-left: 20px;
	width: 520px;
	height: 160px;
	margin-top: 50px;
	margin-bottom: 60px;
	background-color: #514dbe;
	
}

#footerNav img
{
	display: inline-flex;
	margin-left: 70px;
  
}
#footerNav ul
{
	list-style-type: none;
	margin-top: 68px;
	margin-left: 55px;

}

#footerNav ul li
{
	display: inline;
	text-transform: uppercase;
	font-size: 24px;
	font-family: Bahnschrift, Arial, sans-serif;
	margin-right: 20px;
	margin-bottom: 100px;
}

#footerNav ul li a
{
	color: #fff;
}

#footerNav ul li a:hover
{
	background-color: #a1defb;
}

#footerNav img
{
	margin-top: : 20px;
}

#copyRight 
{
	margin-left: auto;
	width: 310px;
}

#copyRight ul
{
	font-size: 16px;
	font-family: Bahnschrift, Arial, sans-serif;
	color: #fff;
	margin-top: 50px;
	margin-left: 75px;
	list-style-type: none;
}

#copyRight ul li a
{
	color: #fff;
	text-decoration:  underline;
}
/*Page 2 - Notice we are using one style sheet for all of the pages*/

#contentCon
{
	margin-top: 40px;
	padding-bottom: 7px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#contentCon p 
{
	display: flex;
	color: #fff;
	font-size: 12px;
	font-family: Bahnschrift, Arial, sans-serif;
	margin-left: 20px;
	line-height: 20px;
	background-color: #514dbe;
	margin-right: 368px;
	
	
}

#content1 img
{
	display: inline-flex;
	flex-wrap: wrap;

}

#content1 p
{
	display: flex;
	flex-direction: row;
	color: #fff;
	font-size: 11px;
	font-family: Bahnschrift, Arial, sans-serif;
	line-height: 20px;
	background-color: #514dbe;
	margin-left: 20px;
	margin-right: 855px;
}

#content2
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

#content2 img
{
	display: inline-flex;
	float: left;
	background-color: : #514dbe;
	margin-left: 400px;
}
#content2 p
{
	display: flex;
	flex-direction: row;
	color: #fff;
	font-size: 11px;
	font-family: Bahnschrift, Arial, sans-serif;
	line-height: 20px;
	background-color: #514dbe;
	margin-left: 20px;
	margin-right: 855px;
	
	
}

#content3 img
{
	display: inline-flex;
	float: left;
	background-color: : #514dbe;
	margin-left: 400px;
	margin-right: 20px;
}
#content3 p
{
	display: flex;
	flex-direction: row;
	color: #fff;
	font-size: 11px;
	font-family: Bahnschrift, Arial, sans-serif;
	line-height: 30px;
	background-color: #514dbe;
	margin-left: 20px;
	margin-right: 855px;
	margin-bottom: 200px;
	
	
}





/*Page 3*/

#productImages 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

/*Get rid of this, here just to give different height*/
#productImages p
{
	line-height: 250px;
}

.productImg 
{
	width: 280px;
}


#contentAreaBig
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height*/
#contentAreaBig p 
{
	line-height: 300px;
}

#promoImageBig
{
	width: 920px;
	background: url(../images/hero-home.jpg) no-repeat;
	height: 375px;
}


/*Page 4*/

.productDescLargeLeft 
{
	width: 410px;
}

.productDescLargeRight 
{
	width: 410px;
}

